<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ECOZONE{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}



            {% block header %}
        <header>
            <nav>
                <a href="{{ path("main") }}"><img src="{{ asset('build/images/logosmall.png') }}" alt="Ecozone logo"></a>


                <ul class="nav-header">

                    <li class="col btn item-header "><a class="" href="{{ path("actualites") }}">Actualités</a></li>
                    <li class="col btn item-header "><a class="" href="{{ path("bourse") }}">Bourse</a></li>
                    <li class="col btn item-header "><a class="" href="{{ path("eco") }}">Economie</a></li>
                    <li class="col btn item-header "><a class="" href="{{ path("societe") }}">Entreprise</a></li>
                    <li class="col btn item-header "><a class="" href="{{ path("livres") }}">Books</a></li>
                </ul>


            </nav>

        </header>
            {% endblock %}
   {# <div class="pub pub-top">
    AD
    </div>#}







        {% block content %}{% endblock %}

     {% block footer %}


           {# <div class="pub pub-bottom">

                AD n°3
            </div>
#}



    <footer>
       <h2>Eco-Zone</h2>

        <div>
            <a href="{{ path("mentions") }}">Mentions légales</a>
            <a href="{{ path("politique") }}">Politique de confidentialiité</a>
        </div>
    </footer>

     {% endblock%}



        {% endblock %}
    </body>
</html>
