{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block content %}
   {# <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Preview</th>
                <td>{{ article.preview }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ article.categorie }}</td>
            </tr>
        </tbody>
    </table>#}
<div class="article-container">
    <div class="article-full">
        <div class="article-title">
            <h2 class="article-categorie"> {{ article.categorie }} </h2>
            <h1 class="article-title">{{ article.titre }}</h1>
            <img class="article-image" src="{{ asset('build/images/' ~ article.imgbg) }}" alt="">

            {% if  article.preview  %}
                <div class="article-preview"> {{ article.preview }} </div>
            {% endif %}
        </div>


        <div id="fullarticle" class="article-content">
             {{ articlefull | raw }}
        </div>


    </div>



</div>


    <div class="article-bottom">

        <a class="btn btn-primary" href="{{ path('main') }}">Retour à l'acceuil</a>




    </div>


    <div class="pub pub-bottom">0

            AD n°3
    </div>


{% endblock %}


